html,
body {
    overflow: hidden;
}
.page {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: max-content;
    padding: 2em;
}

.page--home .hero {
    text-align: center;
}

.prehead {
    color: whitesmoke
}