html,
body {
    overflow: hidden;
}
.page {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: max-content;
    padding: 2em;
}

.page--home .hero {
    text-align: center;
}

.prehead {
    color: whitesmoke
}

#bowling-table {
    margin-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

#bowling-table td, #bowling-table th {
    border: 1px solid whitesmoke;
    padding: 8px;
}

#bowling-table tr:nth-child(odd){background-color: #914c4cc2;}
#bowling-table tr:nth-child(even){background-color: #85311393;}


#bowling-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #57193A;
    color: whitesmoke;
}

#bowling-table tr {
    font-weight: bold;
    color: whitesmoke;
}