<div class="page page--home">
    <div class="hero">
      <h1 class="prehead">Welcome</h1>
    </div>

    <div *ngFor="let game of games" > 

      <table id="bowling-table" mat-table [dataSource]="game.frames" class="mat-elevation-z8">

        <ng-container matColumnDef="game">
          <th mat-header-cell *matHeaderCellDef> Game </th>
          <td mat-cell *matCellDef="let element"> {{element.bowlingGameId}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
      
        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef> Player </th>
          <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
      
        <ng-container matColumnDef="frame">
          <th mat-header-cell *matHeaderCellDef> Frame </th>
          <td mat-cell *matCellDef="let element"> {{element.frameNumber}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
      
        <ng-container matColumnDef="first-roll">
          <th mat-header-cell *matHeaderCellDef> FirstRoll </th>
          <td mat-cell *matCellDef="let element"> {{element.firstRoll}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
      
        <ng-container matColumnDef="second-roll">
          <th mat-header-cell *matHeaderCellDef> SecondRoll </th>
          <td mat-cell *matCellDef="let element"> {{element.secondRoll}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-container matColumnDef="third-roll">
          <th mat-header-cell *matHeaderCellDef> ThirdRoll </th>
          <td mat-cell *matCellDef="let element"> <div *ngIf="element.thirdRoll !== 0">{{element.thirdRoll}}</div> </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-container matColumnDef="strike">
          <th mat-header-cell *matHeaderCellDef> X </th>
          <td mat-cell *matCellDef="let element"> <div *ngIf="element.isStrike">✔️</div></td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-container matColumnDef="spare">
          <th mat-header-cell *matHeaderCellDef> / </th>
          <td mat-cell *matCellDef="let element"> <div *ngIf="element.isSpare">✔️</div> </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Score </th>
          <td mat-cell *matCellDef="let element"> {{element.score}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost(game)}} </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-second-footer-row"></tr>
      </table>
    </div>

    


</div>
