/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/bootstrap.min.css'; */
@import '../node_modules/font-awesome/css/font-awesome.min.css';  
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootswatch/dist/united/bootstrap.min.css";


.page {
  padding: 2%; 
  border-radius:15px;
  background-image: linear-gradient(to right, #57193A , #772953,  #833c22); 
}
